*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: #849d8f;

  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
figure{
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
}
.container{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.col{
  display: inline-block;
  vertical-align: top;
  margin-right: 2.2%;
  font-size: 16px;
}
.col:first-child{
  margin-left: 2.3%;
}
.col:last-child{
  margin-right: 2.3%;
}
.col-1{
  width: 22.2%;
}
.col-2{
  width: 46.6%;
}
.col-3{
  width: 71%;
}
.col-4{
  width: 95.4%;
}
.row{
  margin-bottom: 20px;
  font-size: 0;
}
.logo,
.main-menu{
  display: inline-block;
  vertical-align: middle;
}
.features-title{
  margin: 0 2.3%;
}
.sidebar{
  font-size: 0;
}
.sidebar form{
  display: none;
}
.sidebar>div{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 10px;
}
.sidebar>div:last-child{
  margin-right: 0;
}